* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  scroll-behavior: smooth;
  background: whitesmoke;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

.wrapper {
  max-width: 678px;
  width: 100%;
  margin: 2rem auto 0;
}

.wrapper h1 {
  background: linear-gradient(125deg, lightblue, lightsalmon);
  padding: 0.75rem 0;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 1.75rem;
}

.wrapper .recipes-menu {
  padding: 0 1.75rem;
}

.recipes-menu a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}

.wrapper .image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
  border: 1px solid salmon;
}

.wrapper .description {
  margin: 1rem 0 0;
  text-align: justify;
}

.wrapper .ingredients,
.wrapper .instructions {
  margin: 1rem 0;
  /* display: inline-block; */
  background: salmon;
  color: white;
  padding: 0.75rem;
  border-radius: 6px;
  text-align: right;
  letter-spacing: 6px;
}

.wrapper ul,
.wrapper ol {
  margin: 0 0 0 1.75rem;
}

.wrapper h3 {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 6px;
  background: lightblue;
  display: inline-block;
}
